@import '~@/style/mixins/mixins';
@import '~@/style/mixins/utils';

@include b(global-header) {
  position: relative;
  height: $--navbar-height;
  user-select: none;
  padding: 0;
  background: $--color-white;
  border-bottom: 1px solid #d8dce5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  @include e(left) {
    float: left;
    vertical-align: middle;
    @include utils-clearfix();
    &.breadcrumb {
      line-height: 68px;
    }
    &.menu {
      cursor: pointer;
    }
  }
}
