.login {
  width: 100%;
  height: 100%;
  position: relative;
  background: #283443;

  &-container {
    width: 600px;
    margin: 0 auto;
    .login-left-img {
      width: 100%;
      height: 100%;

      & > img {
        border-radius: 30px 0 0 30px;
      }
    }
  }

  &-content {
    background: #fff;
    margin: 0 auto;
    text-align: center;
    border-radius: 0 30px 30px 0;

    &--logo {
      margin: 0 auto;
      width: 220px;
      height: 84px;
    }

    &--title {
      padding: 20px;
      padding-top: 100px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }

    &--input {
      margin: 0 auto;
      padding-top: 20px;
    }

    &--btn {
      .el-button {
        width: 100%;
      }
    }
  }

  &-input--icon {
    color: #eeeeee;
    font-size: 16px;
  }
}
